<%-include("../partials/head")%> 
<body>
    <%-include("../partials/header")%>
    <main class="container min-vh-100 pt-5">
      <form action="/admin/products" method="post" enctype="multipart/form-data">
            <fieldset class="rounded border w-75 mx-auto p-4" id="formulario-crear-fondo" >
                <legend class="text-center">AGREGAR PRODUCTO</legend>
				<div class="caja-contenedora-formAgregar">
					<div class="mb-3 col-md-6 caja_separada">
						<label for="name" class="form-label">Nombre del producto</label>
						<input type="text" name="name" class="form-control" id="name" placeholder="Ej: Guitarra Gibson" value="<%= locals.old && old.name ? old.name : "" %>">
						<% if (locals.errors && errors.name) { %>
							<p style="color: red;"><%= errors.name.msg %>  </p>
						<% } %>
					</div>
					<div class="mb-3 col-md-6 caja_separada">
						<label for="price" class="form-label">Precio</label>
						<input type="number" name="price" class="form-control" id="price" placeholder="Ej: 135000" value="<%= locals.old && old.price ? old.price : "" %>">
						<% if (locals.errors && errors.price) { %>
							<p style="color: red;"><%= errors.price.msg %>  </p>
						<% } %>
					</div>
					<div class="mb-3 col-md-6 caja_separada">
						<label for="discount" class="form-label">Descuento</label>
						<input type="number" name="discount" class="form-control" id="discount" placeholder="Ej: 5000" value="<%= locals.old && old.discount ? old.discount : "" %>">
						<% if (locals.errors && errors.discount) { %>
							<p style="color: red;"><%= errors.discount.msg %>  </p>
						<% } %>
					</div>
					<div class="mb-3 col-md-6 caja_separada">
						<label for="category" class="form-label">Categoria</label>
						<select name="id_categoria" class="form-select" id="id_categoria" aria-label="Default select example">
							<% categories.forEach(({id, name}) => { %>
								<option value="<%= id %>"><%= name %> </option>
							<% }) %> 
						</select>
						<% if (locals.errors && errors.id_categoria) { %>
							<p style="color: red;"><%= errors.id_categoria.msg %>  </p>
						<% } %>
					</div>
					<div class="input-group mb-3 input-imagen-producto">
						<label class="input-group-text" for="inputGroupFile01">Upload</label>
						<input type="file" class="form-control" name="image" id="inputGroupFile01">
					</div>
				</div>
				
				<div class="div-StockyEnvios-agregar">
					<div class="form-check mb-3 form-switch" id="add-product-stock">
						<input class="form-check-input" name="stock" type="checkbox" role="switch" id="stock" <%= locals.old && old.stock ? "checked" : "" %>>	
						<label class="form-check-label" for="stock" id="label-form-agregar">Stock disponible</label>
						<% if (locals.errors && errors.stock) { %>
							<p style="color: red;"><%= errors.stock.msg %></p>
						<% } %>		
					</div>
					<div class="form-check mb-3 form-switch" id="add-product-envio">
						<input class="form-check-input" name="shipment" type="checkbox" role="switch" id="envio" <%= locals.old && old.shipment ? "checked" : "" %>>
						<label class="form-check-label" for="envio" id="label-form-agregar">Envios gratis</label>
						<% if (locals.errors && errors.shipment) { %>
							<p style="color: red;"><%= errors.shipment.msg %></p>
						<% } %>
					</div>
				</div>
				<div class="mb-3 caja-text-area">
					<label for="description" class="form-label">Descripción</label>
					<textarea name="description" class="form-control caja-textarea" id="description" rows="3"><%=locals.old && old.description ? old.description : ""%></textarea>
				</div>
				<div class="col-12" id="btn-crearProducto">
					<button class="btn btn-primary" type="submit">Crear</button>
				</div>
            </fieldset>
      	</form>
    </main>
    <%-include("../partials/footer")%> 
    <%-include("../partials/script")%> 
</body>
</html>