<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productDetail.css">
    
<body>
    <%-include("../partials/header.ejs")%>
    <main>
        <section class="productDetail">
                <h2><%-product.name%></h2>
                <div class="div-separador-productos">
                    <div class="caja-imagen">
                        <img src="/img/productos/<%-product.image%>" alt="<%-product.name%>">
                    </div>
                    <article class="produc-detail">
                        <div class="container">
                            <div class="precio">
                                <p class="producto-precio">$ <%-thousand(product.price)%> </p>
                                <p class="producto-anterior"><%-thousand(product.price + product.price * product.discount / 100) %></p>
                            </div>
                            <p class="producto-descuento"><%-product.discount ? `${product.discount}% OFF` : ""%></p>
                        </div>
                        <article class="redes-sociales-main">
                            <h4>Compartir</h4>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-instagram" id="instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook-square" id="facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a></li>
                            </ul>
                        </article>
                        
                        <div class="botones">
                            <div class="description-detalle">
                                <p><%-product.description%> </p>
                            </div>                       
                            <button type="submit" class="btn-inicio">
                                <p class="button-comprar">COMPRAR</p>
                                <span class="span1"></span>
                                <span class="span2"></span>
                                <span class="span3"></span>
                                <span class="span4"></span>
                            </button>
                            <span class="caja-carrito">
                                <a href="productCart" class="det-carrito">Agregar Carrito</a>
                            </span>
                        </div>
                        
                    </article>
                </div>
        </section>
        
    </main>
    <%-include("../partials/footer.ejs") %>
</body>
</html>