<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="css/main.css">
<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section class="section-carrusel">
                <!-- Carrusel -->      
            <div class="container-slider">
                <div class="slider" id="slider">
                    <div class="slider-section">
                        <img src="./img/slider/slider1.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider2.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider3.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider4.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider5.jpg" alt="" class="slider-img">
                    </div>
                <div class="slider-btn slider-btn-right" id="btn-right">&#62</div>
                <div class="slider-btn slider-btn-left" id="btn-left">&#60</div>
            </div>
        </section>        
        <section class="section-productos">
            
            <div class="articulos-desktop">
                <%product.forEach(producto => { %>
                <a href="productDetail">
                    <article>
                        <div class="div-img-home">
                            <img src="img/productos/<%-producto.image[0]%>"   alt="<%-producto.name%>" class="producto-home">
                        </div>
                        
                        <div class="description">
                            <h3><%-producto.name%></h3>
                            <span class="descuento-envios"><%-producto.discount%><%-producto.shipment%></span>
                            <p class="precio">$ <%-producto.price%></p>
                            <!-- <a href="productCart" class="ancla-carrito"> -->
                            <i class="fa-solid fa-cart-shopping"></i>
                            <!-- </a> -->
                        </div>                               
                    </article>
                </a>
                
                <!-- <article>
                        <img class="producto" src="/img/productos/bateria.jpg" alt="bateria">
                        <div class="description">
                            <h3>Bateria Mapex Prodigy</h3>
                            <p class="descuento-envios">15% off - Envios gratis</p>
                            <p class="precio">Precio: $141.58</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/ukelele.jpg" alt="Ukelele">
                    <div class="description">
                        <h3>Ukelele Soprano Dakota</h3>
                        <p class="descuento-envios">13% off - Envios gratis</p>
                        <p class="precio">Precio: $1.891</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/organoMusical.jpg" alt="Organo musical">
                    <div class="description">
                        <h3>Organo Musical Teclado</h3>
                        <p class="descuento-envios">18% off - Envios gratis</p>
                        <p class="precio">Precio: $6.067</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/repiqueMurga.jpg" alt="repique murga">
                    <div class="description">
                        <h3>Repique Murga Cromado</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $3.600</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/armonicaDiatonica.jpg" alt="armonica diatonica">
                    <div class="description">
                        <h3>Armonica Diatónica Cromada</h3>
                        <p class="precio">Precio: $1.030</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/xilofon.jpg" alt="xilofon">
                    <div class="description">
                        <h3>Xilofón Metalofon 8 Notas</h3>
                        <p class="descuento-envios">5% off</p>
                        <p class="precio">Precio: $2.450</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/violinPalatino.jpg" alt="violin palatino">
                    <div class="description">
                        <h3>Violin Palatino 4/4 Madera</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $7.499</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/panderetaParquer.jpg" alt="pandereta">
                    <div class="description">
                        <h3>Pandereta Parquer Doble Sonaja</h3>
                        <p class="precio">Precio: $2.150</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/pedalEfecto.jpg" alt="pedal de efecto">
                    <div class="description">
                        <h3>Pedal de efecto para instrumento</h3>
                        <p class="descuento-envios">10% off - Envios gratis</p>
                        <p class="precio">Precio: $29.493</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/trianguloPercusion.jpg" alt="triangulo percusion">
                    <div class="description">
                        <h3>Triangulo Percusion Metalico</h3>
                        <p class="descuento-envios">13% off</p>
                        <p class="precio">Precio: $699</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/microfonoRode.jpg" alt="microfono rode">
                    <div class="description">
                        <h3>Micrófono Rode NT1-A condensador</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $63.900</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/puasStagg.jpg" alt="puas stagg">
                    <div class="description">
                        <h3>Puas Stagg Pack Por 20 Calibres</h3>
                        <p class="precio">Precio: $715</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/organoMusicalinfantil.jpg" alt="organo musical infantil">
                    <div class="description">
                        <h3>Organo Musical Infantil</h3>
                        <p class="descuento-envios">5% off - Envios gratis</p>
                        <p class="precio">Precio: $2.990</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/kalimba.jpg" alt="kalimba">
                    <div class="description">
                        <h3>Kalimba Walter Profesional</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $6.977</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/acordeonNenes.jpg" alt="acordeon niños">
                    <div class="description">
                        <h3>Acordeón Para Niños 7 Teclas</h3>
                        <p class="precio">Precio: $3.990</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/flautaDulce.jpg" alt="flauta dulce soprano">
                    <div class="description">
                        <h3>Flauta Dulce Soprano Yamaha</h3>
                        <p class="precio">Precio: $1.950</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/pedalEfecto1.jpg" alt="pedal de efecto ">
                    <div class="description">
                        <h3>Pedal de efecto para instrumento de cuerda</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $17.543</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/guitarraInfantil.jpg" alt="guitarra infantil ">
                    <div class="description">
                        <h3>Guitarra Infantil Sonido Real</h3>
                        <p class="precio">Precio: $3.980</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article>
                <article>
                    <img class="producto" src="/img/productos/guitarraVintage.jpg" alt="guitarra vintage">
                    <div class="description">
                        <h3>Guitarra eléctrica SX Vintage Series FTL-50</h3>
                        <p class="descuento-envios">Envios gratis</p>
                        <p class="precio">Precio: $29.750</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </article> -->
                <% }) %> 
            </div>
            
        </section>
        <section class="section-proteccion">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Elegi como pagar</h4>
                <p>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>Envio rapido y seguro</h4>
                <p>Elegí Mercado Envíos y seguí tu compra hasta que la recibas. Todos tus paquetes estarán protegidos.</p>

            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>Compra protegida</h4>
                <p>Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>

            </div>
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
    <script src="./js/slider.js"></script>
</body>
</html>