<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="css/main.css">
<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section class="section-carrusel">
                <!-- Carrusel -->      
            <div class="container-slider">
                <div class="slider" id="slider">
                    <div class="slider-section">
                        <img src="./img/slider/slider1.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider2.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider3.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider4.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider5.jpg" alt="" class="slider-img">
                    </div>
                <div class="slider-btn slider-btn-right" id="btn-right">&#62</div>
                <div class="slider-btn slider-btn-left" id="btn-left">&#60</div>
            </div>
        </section>        
        <section class="section-productos">            
            <div class="articulos-desktop">
                <%producto.forEach(producto => { %>
                <a href="/producto/<%-producto.id %>">
                    <article>
                        <div class="div-img-home">
                            <img src="img/productos/<%-producto.image%>"   alt="<%-producto.name%>" class="producto-home">
                        </div>
                        <div class="description">
                            <h3><%-producto.name%></h3>
                            <span class="descuento-envios">
                                <%-producto.discount !== 0 ? `${producto.discount} % OFF` : ""%>
                                <%-producto.shipment ? "Envios gratis" : "" %>
                            </span>
                            <p class="precio">$ <%- thousand((producto.price - producto.price * producto.discount / 100).toFixed(0)) %></p>
                            <!-- <a href="productCart" class="ancla-carrito"> -->
                            <i class="fa-solid fa-cart-shopping"></i>
                            <!-- </a> -->
                        </div>                               
                    </article>
                </a>
                <% }) %> 
            </div>
            
        </section>
        <section class="section-proteccion">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Elegi como pagar</h4>
                <p>Podes pagar por tranferencias,cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>Envio rapido y seguro</h4>
                <p>Elegí Mercado Envíos y seguí tu compra hasta que la recibas. Todos tus paquetes estarán protegidos.</p>

            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>Compra protegida</h4>
                <p>Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                
            </div>
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
    <script src="./js/slider.js"></script>
</body>
</html>