<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/whatsapp.css">
    <link rel="stylesheet" href="css/carruselProductos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="/js/whatsapp.js" defer></script>
<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section class="section-carrusel">
                <!-- Carrusel -->      
            <div class="container-slider">
                <div class="slider" id="slider">
                    <div class="slider-section">
                        <img src="./img/slider/slider1.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider2.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider3.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider4.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section">
                        <img src="./img/slider/slider5.jpg" alt="" class="slider-img">
                    </div>
                <div class="slider-btn slider-btn-right" id="btn-right">&#62</div>
                <div class="slider-btn slider-btn-left" id="btn-left">&#60</div>
            </div>
        </section>        
        <section class="section-productos">            
            <div class="articulos-desktop">
                <%product.forEach(producto => { %>
                <a href="/producto/<%-producto.id %>">
                    <article>
                        <div class="div-img-home">
                            <img src="img/productos/<%-producto.image%>"   alt="<%-producto.name%>" class="producto-home">
                        </div>
                        <div class="description">
                            <h3><%-producto.name%></h3>
                            <span class="descuento-envios">
                                <p class="precioHomeVerde"><%-producto.discount !== 0 ? `${producto.discount} % OFF` : ""%></p>
                                <%-producto.shipment ? "Envios gratis" : "" %>
                            </span>
                            <p class="precio">$ <%- thousand((producto.price - producto.price * producto.discount / 100).toFixed(0)) %></p>
                            <!-- <a href="productCart" class="ancla-carrito"> -->
                            <i class="fa-solid fa-cart-shopping"></i>
                            <!-- </a> -->
                        </div>                               
                    </article>
                </a>
                <% }) %> 
            </div>
        </section>
        <h2>OFERTAS IMPERDIBLES!</h2>
        <section class="section-productos">            
            <div class="articulos-desktop">
                <%product.forEach(producto => { %>
                    <% if (producto.discount >= 15) { %>
                        <a href="/producto/<%-producto.id %>">
                            <article>
                                <div class="div-img-home">
                                    <img src="img/productos/<%-producto.image%>"   alt="<%-producto.name%>" class="producto-home">
                                </div>
                                <div class="description">
                                    <h3><%-producto.name%></h3>
                                    <span class="descuento-envios">
                                        <p class="precioHomeVerde"><%-producto.discount !== 0 ? `${producto.discount} % OFF` : ""%></p>
                                        <%-producto.shipment ? "Envios gratis" : "" %>
                                    </span>
                                    <p class="precio">$ <%- thousand((producto.price - producto.price * producto.discount / 100).toFixed(0)) %></p>
                                    <!-- <a href="productCart" class="ancla-carrito"> -->
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <!-- </a> -->
                                </div>                               
                            </article>
                        </a>
                        <% } %>
                    <% }) %> 
            </div>
        </section>
        <h2 class="h2-carrusel-div">TODOS LOS PRODUCTOS</h2>
        <div class="div-carrusel" id="carruselMovil" >
            <div class="container" >
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper" >
                        <%product.forEach(producto => { %>
                        <div class="swiper-slide" >
                            <img src="img/productos/<%-producto.image%>" >
                        <div class="card-description">
                            <div class="card-title">
                                <h4 class="h4-carrusel-productos">Descripción</h4>
                            </div>
                            <div class="card-text">
                                <p><%-producto.description%></p>
                            </div>
                            <div class="card-link">
                              <a href="/producto/<%-producto.id %>">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <% }) %> 
                        </div>
               
                    </div>
                 
                 
        
                </div>
        
            
            </div>
        <section class="section-proteccion">
            <div>
                <i class="fa-solid fa-credit-card img-main"></i>
                <h4>Elegi como pagar</h4>
                <p>Podes pagar por tranferencias,cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-people-carry-box"></i>
                <h4>Envio rapido y seguro</h4>
                <p>Elegí Mercado Envíos y seguí tu compra hasta que la recibas. Todos tus paquetes estarán protegidos.</p>

            </div>
            <div class="separador-proteccion">
                <i class="fa-solid fa-truck-fast img-main"></i>
                <h4>Compra protegida</h4>
                <p>Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                
            </div>
        </section>
        <section class="seccion-whatsapp">
            <a href="https://wa.me/1234567890?text=Hola%20me%20interesa%20saber%20más%20sobre%20los%20productos%20de%20la%20SONATA%20" class="whatsappBtn" onmouseover="clickWhatsapp()" target="_blank">
                <i class="fa-brands fa-whatsapp " id="i-btn-whatsapp"></i>
            </a>
            
        </section>
        <!-- <div class="div-comentario-whatsapp" id="cartelWhatsapp">
            <p class="p-comentario-whatsapp">ENVIANOS UN MENSAJE</p> 
        </div> -->
    </main>
    <%-include("../partials/footer.ejs") %>
    <script src="./js/slider.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/carruselProductos.js"></script>
</body>
</html>