<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/loginValidatorFront.js" ></script>
<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section>
            <h1>Bienvenido a Sonata</h1>
            <hr>
            <article class="article-login">
                <form action="/usuario/login" method="POST" id="form">
                    <label for="email" class="correo">Email</label>
                    <input type="email" name="email" id="email" value="" placeholder="  Ingrese su email" class="input-empuje input-login">
                    <small id="errorEmail" style="color: pink;">
                        <% if (locals.errors && errors.email) { %>
                            <p style="color:red;"><%=errors.email.msg%></p>
                        <% } %>
                    </small>
                    <label for="passwd">Contrase침a</label>
                    <input type="password" name="passwd" id="passwd" value="" placeholder="  Ingrese su contrase침a" class="input-empuje input-login">
                    <small id="errorPasswd" style="color: pink;">
                        <% if (locals.errors && errors.passwd) { %>
                            <p style="color:red;"><%=errors.passwd.msg%></p>
                        <% } %>
                    </small>
                    <label for="captcha" class="checkbox1">
                        <input type="checkbox" name="captcha" id="captcha" class="input-recordar">
                        <p>Recordar</p>                          
                    </label>
                    <% if (locals.errors && errors.custom) { %>
                        <p style="color:red;"><%=errors.custom.msg%></p>
                    <% } %>
                    <button type="submit" class="btn-inicio" id="#button-login ">
                            <p>Iniciar Sesi칩n</p>
                            <span class="span1"></span>
                            <span class="span2"></span>
                            <span class="span3"></span>
                            <span class="span4"></span>
                    </button>
                    <br>
                    <small id="errorSubmit" style="color: red;"></small>
                    <span class="tengo-cuenta">
                        <a style="color: black;" href="<%-"/usuario/olvide-mi-passwd"%>">Olvide mi contrase침a</a>
                    </span>
                    <span class="tengo-cuenta">
                        <a style="color: black;" href="<%-"/usuario/registro"%>">
                            Crear cuenta
                        </a>
                    </span>
                    <!-- <small id="errorForm" style="color: pink;"></small> -->
                </form>
            </article> 
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
    <script src="/js/registerValidatorFront.js" defer></script>
</body>
</html>