
    <!DOCTYPE html> -->
<html lang="en">
    <%-include("../partials/head.ejs") %> 
    <%-include("../partials/header.ejs") %>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/perfilUsuario.css">
<body>
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="/img/avatar/<%=session.userActive.avatar%>" alt="img-avatar">
                <!-- <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button> -->
            </div>
            <!-- <button type="button" class="boton-portada">
                <i class="far fa-image"></i> Cambiar fondo
            </button> -->
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo"><%=session.userActive.name %></h3>
            <p class="texto">Hola! <%=session.userActive.name %> Este es tu perfil, donde podras editar todos tus datos.
            </p>
            <br>
            
        </div>
        <div class="perfil-usuario-footer">
            <div style="text-align:center;">
                <h2>Datos personales</h2>
                <p>Nombre: <%= user.name %></p>
                <p>Apellido: <%= user.lastName %></p>
                <p>Email: <%= user.email %></p>
            </div>
            <a href="/usuario/perfil/:id<%= user.id %>" class="btn-editar">EDITAR DATOS</a>
            <a href="/index/home" class="btn-editar">Ir al home</a>
        </div> 
    </main>
</section>
</body>
</html>
    <%-include("../partials/footer.ejs") %>
</body>
</html>