<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %> 
    <%-include("../partials/header.ejs") %>
<body>
    <div style="width: 100%; display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 60%; display: flex; flex-direction: column;border-radius: 10px; align-items: center; border: 1px solid black;">
            <h1>Perfil</h1>
            <div style="width: 100px; height: 100px;">
                <img src="/img/avatar/<%=session.userActive.avatar%>" style="object-fit: cover; border-radius: 50%; width: 100%;" alt="img">
            </div>
            <p>Mi nombre es: <%=session.userActive.name %></p>
            <p>Mi Apellido es : <%=session.userActive.lastName %></p>
            <p>Mi Email es: <%=session.userActive.email %></p>
            <br>
            <a href="/home">
                <button>Ir al home</button>
            </a>
            <br>
        </div>
    </div>
    <%-include("../partials/footer.ejs") %>
</body>
</html>