
    <!DOCTYPE html> -->
<html lang="en">
    <%-include("../partials/head.ejs") %> 
    <%-include("../partials/header.ejs") %>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/perfilUsuario.css">
<body>
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="/img/avatar/<%=session.userActive.avatar%>" alt="img-avatar">
                <!-- <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button> -->
            </div>
            <!-- <button type="button" class="boton-portada">
                <i class="far fa-image"></i> Cambiar fondo
            </button> -->
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo"><%=session.userActive.name %></h3>
            <p class="texto">Hola! <%=session.userActive.name %> Este es tu perfil, donde podras editar todos tus datos.
            </p>
            <br>
            
        </div>
        <form action="/usuario/registro" method="post" enctype="multipart/form-data" id="form">
        <div class="perfil-usuario-footer">
                <ul class="lista-datos ">
                <li>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" value="" placeholder="  Ingrese su nombre" class="input-empuje" value="<%=locals.old && old.name ? old.name : "" %>">
                <br>
                <small id="errorName" style="color: pink;">
                    <% if (locals.errors && errors.name) { %>
                        <p style="color:red;"><%= errors.name.msg %></p>
                    <% } %>
                
                </small>
                </li>
                <li>
                  <label for="lastName">Apellido</label>
                  <input type="text" name="lastName" id="lastName" placeholder="  Ingrese su apellido" class="input-empuje" value="<%= locals.old && old.lastname ? old.lastname : "" %>">
                  <br>
                  <small id="errorLastName" style="color: pink;">
                    <% if (locals.errors && errors.lastName) { %>
                      <p style="color:red;"><%= errors.lastName.msg %></p>
                      <% } %>
                    </small>
                  </li>
                  <li>
                    <label for="file">Ingrese un avatar</label>
                    <input type="file" name="avatar" id="file" value=""  class="input-empuje input-imagen">
                    <br>
                    <small id="errorFile" style="color: pink;">
                      <% if (locals.errors && errors.avatar) { %>
                        <p style="color:red;"><%= errors.avatar.msg %></p>
                        <% } %>
                      </small>
                    </li>
              </ul>
              <ul class="lista-datos">
              <li>

                <label for="passwd">Contraseña</label>
                <input type="password" name="passwd" id="passwd" value="" placeholder="  Ingrese su contraseña" class="input-empuje"  >
                <br>
                <small id="errorPasswd" style="color: pink;">
                  <% if (locals.errors && errors.passwd) { %>
                    <p style="color:red;"><%= errors.passwd.msg %></p>
                    <% } %>
                  </small>
                </li>
                <li>
                  <label for="email" class="correo">Email</label>
                  <input type="email" name="email" id="email" value="" placeholder="  Ingrese su email" class="input-empuje" value="<%= locals.old && old.email ? old.email : "" %>">
                  <br>
                  <small id="errorEmail" style="color: pink;">
                    <% if (locals.errors && errors.email) { %>
                      <p style="color:red;"><%= errors.email.msg %></p>
                      <% } %>
                    </small>
                  </li>
                </ul>
            </div>
            <br>
            <div class="perfil-usuario-bio" style="height: 100%; display: flex; justify-content: center;">
            <button type="submit" class="btn-inicio" id="button-register" style="margin-right: 10px;">
                 <p>Guardar</p>
                 <span class="span1"></span>
                 <span class="span2"></span>
                 <span class="span3"></span>
                 <span class="span4"></span>
            </button>
            <a href="/home" >
                <button class="btn-inicio" id="button-register" style="margin-left: 10px;">Ir al home</button>
            </a>
            <small id="errorSubmit"" style="color: red;"></small>
            <small id="errorForm" style="color: pink;"></small>
        </div>
    </form>
</section>
</body>
</html>
    <%-include("../partials/footer.ejs") %>
</body>
</html>