<!DOCTYPE html> -->
    <html lang="en">
        <%-include("../partials/head.ejs") %> 
        <%-include("../partials/header.ejs") %>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
      <link rel="stylesheet" href="/css/perfilUsuario.css">
      <link rel="stylesheet" href="/css/register.css">
      <script src="/js/imgPreview.js" defer></script>
    <body>
      <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="/img/avatar/<%=session.userActive.avatar%>" alt="img-avatar">
                </div>
                <!-- <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button> -->
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo"><%=session.userActive.name %></h3>
                <p class="texto">Hola! <%=session.userActive.name %> Este es tu perfil, donde podras editar todos tus datos.
                </p>
                <br>
                
            </div>
            
            <form action="/usuario/perfil/editar/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data" id="form">
              <div class="perfil-usuario-footer">
              <h2 style="text-align: center;">Edita tu perfil</h2><label for="name">Nombre</label>
              <input type="text" name="name" id="name" placeholder="  Ingrese su nombre" class="input-empuje input-edit"  value="<%=locals.old && old.name ? old.name : user.name %>">
              
              <label for="lastName">Apellido</label>
              <input type="text" name="lastName" id="lastName" placeholder="  Ingrese su apellido" class="input-empuje input-edit" value="<%= locals.old && old.lastname ? old.lastname : user.lastName %>">
              
              <label for="email" class="correo">Email</label>
              <p class="input-empuje input-edit" style="padding: 4px;"><%= user.email %></p>
              <figure class="text-center">
                    <div id="imagePreview" class="caja-div-imgPreview">
                        <img src="/img/avatar/<%=user.avatar%> " alt="">
                    </div>
            </figure> 
              <div class="input-file">
                <label for="inputFile">Cambiar avatar</label>
                <input type="file" name="avatar" id="inputFile"  class="input-empuje input-edit" onchange="fileValidation()">
              </div>
            <div class="col-12">
                <button type="submit" class="btn-editar">Guardar</button>
            </div>
            
        </form>
        <form action="/users/deleteUser/<%= user.id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn-editar">Eliminarme</button>
        </form>
    </div>
    </section>
    </body>
    </html>
        <%-include("../partials/footer.ejs") %>
    </body>
    </html>