<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register.css">
    
<body>
    <%-include("../partials/header.ejs") %>
    <main class="main-register">
        <section>
            <h1 class="h1-crearCuenta">Crear cuenta</h1>
            <hr>
            <article class="article-register">
                <form action="/usuario/registro" method="post" enctype="multipart/form-data">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="" placeholder="  Ingrese su nombre" class="input-empuje" value="<%=locals.old && old.name ? old.name : "" %>">
                    <% if (locals.errors && errors.name) { %>
                        <p style="color:red;"><%= errors.name.msg %></p>
                    <% } %>
                    <small id="errorName" style="color: pink;"></small>
                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="lastname" placeholder="  Ingrese su apellido" class="input-empuje" value="<%= locals.old && old.lastname ? old.lastname : "" %>">
                    <% if (locals.errors && errors.lastname) { %>
                        <p style="color:red;"><%= errors.lastname.msg %></p>
                    <% } %>
                    <small id="errorLastName" style="color: pink;"></small>
                    <label for="email" class="correo">Email</label>
                    <input type="email" name="email" id="email" value="" placeholder="  Ingrese su email" class="input-empuje" value="<%= locals.old && old.email ? old.email : "" %>">
                    <% if (locals.errors && errors.email) { %>
                        <p style="color:red;"><%= errors.email.msg %></p>
                    <% } %>
                    <small id="errorEmail" style="color: pink;"></small>
                    <label for="passwd">Contraseña</label>
                    <input type="password" name="passwd" id="passwd" value="" placeholder="  Ingrese su contraseña" class="input-empuje"  >
                    <% if (locals.errors && errors.passwd) { %>
                        <p style="color:red;"><%= errors.passwd.msg %></p>
                    <% } %>
                    <small id="errorPasswd" style="color: pink;"></small>
                    <!-- <div style="width: 100px; height: 100px; border:1px solid black; border-radius:10px;" id="viewFile">

                    </div> -->
                    <label for="file">Ingrese un avatar</label>
                    <input type="file" name="avatar" id="file" value=""  class="input-empuje input-imagen">
                    <% if (locals.errors && errors.avatar) { %>
                        <p style="color:red;"><%= errors.avatar.msg %></p>
                    <% } %>
                    <small id="errorFile" style="color: pink;"></small>
                    <label for="captcha" class="checkbox1">Captcha
                        <span class="captcha-robot">
                            <input type="checkbox" name="captcha" id="captcha" value="" class="input-captcha">
                            <% if (locals.errors && errors.captcha) { %>
                                <p style="color:red;"><%= errors.captcha.msg %></p>
                            <% } %>
                            <p>No soy un robot</p>                           
                        </span>
                    </label>
                    <small id="errorCaptcha" style="color: pink;"></small>
                    <div class="div-TC">
                        <input type="checkbox" name="terCondi" id="TerminoCondicion" class="input-TC">
                        <% if (locals.errors && errors.terCondi) { %>
                            <p style="color:red;"><%= errors.terCondi.msg %></p>
                        <% } %>
                        <label for="TerminoCondicion" class="label-TC">
                            <span>Acepto los</span>
                            <span>
                                <a href="">Terminos y Condiciones</a>
                            </span>
                            <span>y autorizo el uso de mis datos de acuerdo a la</span>
                            <span>
                                <a href="">Declarión de privacidad.</a>
                            </span>
                        </label>
                    </div>
                    <small id="errorTC" style="color: pink;"></small>
                    <button type="submit" class="btn-inicio" id="button-register">
                        <!--  <a href="https://www.google.com/" target="_blank" class="a-button">Iniciar Sesión</a> -->
                         <p>Iniciar Sesión</p>
                         <span class="span1"></span>
                         <span class="span2"></span>
                         <span class="span3"></span>
                         <span class="span4"></span>
                 </button>
                 <small id="errorSubmit" style="color: pink;"></small>
                    <span class="tengo-cuenta">
                        <a href="<%-"/usuario"%>">Ya tengo cuenta</a>
                    </span>
                </form>
                
            </article> 
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
</body>
</html>