<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register.css">
    
<body>
    <%-include("../partials/header.ejs") %>
    <main class="main-register">
        <section>
            <h1 class="h1-crearCuenta">Crear cuenta</h1>
            <hr>
            <article class="article-register">
                <form action="/usuario/registro" method="post" enctype="multipart/form-data" id="form">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="" placeholder="  Ingrese su nombre" class="input-empuj input-login" value="<%=locals.old && old.name ? old.name : "" %>">
                    <small id="errorName" style="color: pink;">
                        <% if (locals.errors && errors.name) { %>
                            <p style="color:red;"><%= errors.name.msg %></p>
                        <% } %>
                    
                    </small>
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" placeholder="  Ingrese su apellido" class="input-empuje input-login" value="<%= locals.old && old.lastname ? old.lastname : "" %>">
                    <small id="errorLastName" style="color: pink;">
                        <% if (locals.errors && errors.lastName) { %>
                            <p style="color:red;"><%= errors.lastName.msg %></p>
                        <% } %>
                    </small>
                    <label for="email" class="correo">Email</label>
                    <input type="email" name="email" id="email" value="" placeholder="  Ingrese su email" class="input-empuje input-login" value="<%= locals.old && old.email ? old.email : "" %>">
                    <small id="errorEmail" style="color: pink;">
                        <% if (locals.errors && errors.email) { %>
                            <p style="color:red;"><%= errors.email.msg %></p>
                        <% } %>
                    </small>
                    <label for="passwd">Contrase침a</label>
                    <input type="password" name="passwd" id="passwd" value="" placeholder="  Ingrese su contrase침a" class="input-empuje input-login"  >
                    <small id="errorPasswd" style="color: pink;">
                        <% if (locals.errors && errors.passwd) { %>
                            <p style="color:red;"><%= errors.passwd.msg %></p>
                        <% } %>
                    </small>
                    <!-- <div style="width: 100px; height: 100px; border:1px solid black; border-radius:10px;" id="viewFile">

                    </div> -->
                    <div class="input-register-avatar">
                    <p>Ingrese un avatar</p>
                    <input type="file" name="avatar" id="file" value=""  class="input-empuje input-imagen input-login">
                    <small id="errorFile" style="color: pink;">
                        <% if (locals.errors && errors.avatar) { %>
                            <p style="color:red;"><%= errors.avatar.msg %></p>
                        <% } %>
                    </small>
                    </div>
                    <label for="captcha" class="checkbox1">Captcha
                        <span class="captcha-robot">
                            <input type="checkbox" name="captcha" id="captcha" value="" class="input-captcha input-login">
                            <p>No soy un robot</p>                           
                        </span>
                    </label>
                    <small id="errorCaptcha" style="color: pink;">
                        <% if (locals.errors && errors.captcha) { %>
                            <p style="color:red;"><%= errors.captcha.msg %></p>
                        <% } %>
                    </small>
                    <div class="div-TC">
                        <input type="checkbox" name="terCondi" id="TerminoCondicion" class="input-TC input-login">
                        <label for="TerminoCondicion" class="label-TC">
                            <span>Acepto los</span>
                            <span>
                                <a href="">Terminos y Condiciones</a>
                            </span>
                            <span>y autorizo el uso de mis datos de acuerdo a la</span>
                            <span>
                                <a href="">Declari칩n de privacidad.</a>
                            </span>
                        </label>
                    </div>
                    <small id="errorTC" style="color: pink;">
                        <% if (locals.errors && errors.terCondi) { %>
                            <p id="errorTC" style="color:red;"><%= errors.terCondi.msg %></p>
                        <% } %>
                    </small>
                    <button type="submit" class="btn-inicio" id="button-register">
                        <!--  <a href="https://www.google.com/" target="_blank" class="a-button">Iniciar Sesi칩n</a> -->
                         <p>Crear cuenta</p>
                         <span class="span1"></span>
                         <span class="span2"></span>
                         <span class="span3"></span>
                         <span class="span4"></span>
                 </button>
                    <small id="errorSubmit"" style="color: red;"></small>
                    <span class="tengo-cuenta">
                        <a style="color: black;" href="/usuario/login">Ya tengo cuenta</a>
                    </span>
                    <small id="errorForm" style="color: pink;"></small>
                </form>
                
            </article> 
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
    <script src="/js/registerValidatorFront.js" defer></script>
</body>
</html>